<h1 class="text-center">contact Details Form</h1>
    <form>
      <div class="row mb-3">
        <div class="col-md-6">
          <label>First Name</label>
          <input type="text" placeholder="please enter your company name" class="form-control">
        </div>
        <div class="col-md-6">
          <label>Last Name</label>
          <input type="text" placeholder="please enter your owner name" class="form-control">
        </div>
      </div> 
      <div class="row mb-3">
        <div class="col-md-6">
          <label>email</label>
          <input type="text" placeholder="please enter your email" class="form-control">
        </div>
        <div class="col-md-6">
          <label>phone</label>
          <input type="text" placeholder="please enter your phone" class="form-control">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-12">
          <label>email</label>
          <textarea type="text" placeholder="please enter your address..." class="form-control"></textarea>
        </div>
        <div class="text-center mt-3">
          <button>submit</button>
        </div>
      </div>
    </form>
   
