.nav{
   
    height: 80px;
    background-color: black;
    
}
.e-com-head{
    color: white;
    
    
    padding-top: 20px;
    
}
.cart-icon{
    color: white;
    padding-top:30px;
    cursor: pointer;
   
}
.count{
    color: white;
}