.table{
    text-align: center;
    margin-top: 50px;
}
.cart-imge{
    width: 200px;
    height: 200px;
}

.empty-box{
    width: 30%;
    height: 300px;
    border: 1px solid gray;
    margin: 0px auto;
    margin-top: 100px;
}
.para{
    text-align: center;
    padding-top: 50px;
}
.plus-icon{
    cursor: pointer;
}
.minus-icon{
    cursor: pointer;
}
